@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple-glow-start: rgba(233, 213, 255, 0.5);
  --purple-glow-mid: rgba(233, 213, 255, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --purple-glow-start: rgba(126, 34, 206, 0.3);
    --purple-glow-mid: rgba(126, 34, 206, 0.15);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
